
*.ide-wal
AppRegIngRTMantCorrec/.vs/AppRegIngRTMantCorrec/v15/Server/sqlite3/storage.ide-wal
AppRegIngRTMantCorrec/.vs/AppRegIngRTMantCorrec/v15/.suo
AppRegIngRTMantCorrec/.vs/AppRegIngRTMantCorrec/v15/Server/sqlite3/storage.ide-wal
AppRegIngRTMantCorrec/.vs/slnx.sqlite
